body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
    font-family: sans-serif;
}

.btn{
    background-color: lightblue;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px gray;
    color: black;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.btn::before{
    content: '';
    position:absolute;
    background-color: pink;
    width: 0;
    height: 0;
    left: var(--xPos);
    top:var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s ,height 0.5s;
}

.btn:hover::before{
   width: 300px;
   height: 300px; 
}

.btn span{
    position: relative;
    z-index: 2;
}